* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-width: fit-content;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  align-items: center;
  background-color: none;
  padding-left: 71px;
}

.logo {
  width: 204px;
  height: 33px;
}

.logo-decoration {
  text-decoration: none;
}

.text-logo {
  font-family: "Ropa Sans", sans-serif;
  color: #6a578d;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.115em;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding-right: 5%;
  margin: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 110.7%;
  letter-spacing: 0.035em;
  color: #6a578d;
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 1085.9px;
}

.hero-img {
  background-image: url(Imagenes/Hero.svg);
  background-position: center right;
  background-size: 1646px 1085.9px;
  background-repeat: no-repeat;
}

.hero-text {
  width: 573px;
  height: 428px;
  padding-top: 270px;
  padding-left: 50px;
  font-family: "Poppins", sans-serif;
  color: #6a578d;
  font-style: normal;
}

.main-text {
  font-weight: 600;
  font-size: 65px;
  line-height: 110.7%;
  letter-spacing: 0.11em;
}

.this-word {
  color: #d6bfff;
}

.sub-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 110.7%;
  text-align: center;
  letter-spacing: -0.07em;
  margin-top: 30px;
}

.interlude {
  font-family: "Poppins", sans-serif;
  color: #b7a0e1;
  font-style: normal;
  font-weight: 600;
  height: 109px;
  background: #4f4b4b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.telephones {
  font-size: 27px;
  line-height: 114.2%;
}

.text-social {
  font-size: 27px;
  line-height: 114.2%;
}

.socials-svg {
  margin-left: 15px;
  width: 170px;
  height: 40px;
}

.row-houses div {
  padding: 0;
  margin: 0;
}

.house {
  width: 100%;
  height: 951px;
}

.big-house {
  width: 100%;
  height: 1497px;
  cursor: pointer;
}

Footer {
  width: 100%;
  height: 224px;
  background: #4f4b4b;
  font-family: "Poppins", sans-serif;
}

.logo-inmb {
  color: #b7a0e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 45px;
  padding-top: 25px;
  top: 4908px;
  font-family: "Ropa Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 110.7%;
  letter-spacing: 0.115em;
}

.contact-data {
  color: #b7a0e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 4950px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  padding-left: 45px;
  letter-spacing: 0.8px;
}

.disclaimer {
  color: #f1eafe;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 4897px;
  padding-left: 45px;
  padding-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 12px;
  letter-spacing: 0.115em;
}

.middle-selector {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.21em;
  color: #f1eafe;
  padding-top: 24px;
}

.middle-links li a {
  color: #b7a0e1;
}

.follow-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #b7a0e1;
  padding-top: 55px;
}

.socials-net {
  margin-left: 15px;
  width: 140px;
  height: 30px;
}

.div-line {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #f1eafe;
}

.copyright {
  margin-left: 45px;
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 110.7%;

  letter-spacing: 0.115em;

  color: #f1eafe;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  nav {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    width: 169px;
    height: 20px;
  }
  .text-logo {
    font-size: 25px;
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1em;
  }
  .nav-links li a {
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .hero {
    width: 100%;
    height: 800px;
  }
  .hero-img {
    background-position: center;
    background-size: 100%, 760px;
    background-image: url(Imagenes/Herophone.svg);
  }
  .hero-text {
    width: 700px;
    height: 524px;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
  }
  .main-text {
    font-size: 40px;
    line-height: 110.7%;
    letter-spacing: 0.11em;
    text-align: center;
    width: fit-content;
    color: #451d8d;
  }

  .this-word {
    color: #683db4;
  }

  .sub-text {
    font-size: 25px;
    line-height: 110.7%;
    text-align: center;
    letter-spacing: -0.07em;
    color: #451d8d;
    padding-top: 45px;
  }

  .interlude {
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .telephones {
    width: 99.8%;
    font-size: 18px;
    line-height: 114.2%;
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
  }

  .text-social {
    width: 100%;
    font-size: 18px;
    line-height: 114.2%;
    text-align: center;
  }

  .socials-svg {
    width: 133.86px;
    height: 28px;
  }
  Footer {
    height: fit-content;
    width: 100%;
  }

  .logo-inmb {
    padding-left: 5px;
    padding-top: 5px;
  }

  .contact-data {
    font-size: 7px;
    line-height: 114.2%;
    padding-left: 5px;
    padding-top: 5px;
  }

  .follow-text {
    font-size: 9px;
    line-height: 114.2%;
    padding-left: 5px;
    text-align: center;
  }

  .disclaimer {
    padding-left: 5px;
    padding-top: 10px;
    font-size: 10px;
    line-height: 110.7%;
    padding-left: 2.5px;
  }

  .middle-selector {
    font-size: 11px;
    line-height: 98.5%;
    padding-top: 14px;
    letter-spacing: 0.2em;
  }

  .div-line {
    width: 90%;
  }

  .copyright {
    margin-left: 5px;
    font-size: 7px;
    line-height: 110.7%;
    letter-spacing: 0.115em;
    padding-bottom: 5px;
    text-align: center;
  }
}

@media only screen and (max-width: 1199px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  nav {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    width: 118px;
    height: 20px;
  }
  .text-logo {
    font-size: 22px;
    text-align: center;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1em;
  }
  .nav-links li a {
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .hero {
    width: 100%;
    height: 793px;
  }
  .hero-img {
    background-position: center;
    background-size: 1646px 793px;
    background-image: url(Imagenes/Herophone.svg);
  }

  .hero-text {
    width: 400px;
    height: 468px;
    padding-left: 45px;
    padding-right: 30px;
    text-align: center;
  }
  .main-text {
    font-size: 32px;
    line-height: 110.7%;
    letter-spacing: 0.11em;
    text-align: center;
    width: fit-content;
    color: #451d8d;
  }

  .this-word {
    color: #683db4;
  }

  .sub-text {
    font-size: 22px;
    line-height: 110.7%;
    text-align: center;
    letter-spacing: -0.07em;
    color: #ffffff;
    padding-top: 45px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.64);
  }

  .interlude {
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .telephones {
    width: 99.8%;
    font-size: 15px;
    line-height: 114.2%;
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
  }

  .text-social {
    width: 100%;
    font-size: 15px;
    line-height: 114.2%;
    text-align: center;
  }

  .socials-svg {
    width: 118px;
    height: 27px;
  }

  Footer {
    height: fit-content;
    width: 100%;
  }

  .logo-inmb {
    padding-left: 5px;
    padding-top: 5px;
  }

  .contact-data {
    font-size: 13px;
    line-height: 114.2%;
    padding-left: 5px;
    padding-top: 5px;
  }

  .follow-text {
    font-size: 17px;
    line-height: 114.2%;
    padding-left: 5px;
    text-align: center;
  }

  .disclaimer {
    padding-left: 5px;
    padding-top: 10px;
    font-size: 10px;
    line-height: 110.7%;
    padding-left: 2.5px;
  }

  .middle-selector {
    font-size: 14px;
    line-height: 135.5%;
    padding-top: 14px;
    letter-spacing: 0.3em;
  }

  .div-line {
    width: 90%;
  }

  .copyright {
    margin-left: 5px;
    font-size: 7px;
    line-height: 110.7%;
    letter-spacing: 0.115em;
    padding-bottom: 5px;
    text-align: center;
  }
}
