* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', 'Ropa Sans', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	min-height: 90px;
	align-items: center;
	background-color: none;
	padding-left: 71px;
}

.logo {
	width: 204px;
	height: 33px;
}

.logo-decoration {
	text-decoration: none;
}


.Texto-Logo {
	font-family: 'Ropa Sans';
	color: #6a578d;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.115em;
	text-decoration: none;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
	padding-right: 5%;
	margin: 0;
}

.nav-links li {
	list-style: none;
}

.nav-links li a {
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 110.7%;
	letter-spacing: 0.035em;
	color: #6a578d;
	text-decoration: none;
}

.tittle-for-house {
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 41px;
	color: #6a578d;
	padding-top: 15px;
}

.especification-for-house {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	color: #7d66a6;
	display: inline;
	padding-top: 5px;
}

.price-for-house {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 46px;
	text-align: center;
	color: #e73f9a;
	padding-top: 10px;
}

.hero-image {
	width: 100%;
	height: 648px;
}

.carrousel-images {
	width: 100%;
	height: 175px;
	padding-top: 20px;
}

.basic-info {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 27px;
	color: #7d66a6;
	text-align: center;
	background-color: rgba(218, 198, 253, 0.5);
}

.data {
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.03em;
	color: #000000;
	margin: auto;
	width: 50%;
	padding-top: 40px;
}

.sup-and-med {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 27px;
	color: #7d66a6;
	padding-top: 68px;
	text-align: center;
}

.sup-numbers {
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.03em;
	text-align: center;
	color: #000000;
	padding-top: 20px;
}

.description {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 27px;
	padding-top: 68px;
	text-align: center;
	color: #7d66a6;
}

.descrip-text {
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.03em;
	padding-top: 20px;
	color: #000000;
	margin: auto;
	width: 90% !important;
}

.serv-and-ad {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 27px;
	text-align: center;
	padding-top: 68px;
	color: #7d66a6;
}

.alocation {
	padding-top: 50px;
}

.location {
	background-color: rgba(218, 198, 253, 0.5);
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 27px;
	color: #7d66a6;
	text-align: center;
}

.map {
	width: 1824px;
	padding-top: 60px;
	padding-left: 60px;
}

.tittle-contact {
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 40px;
	color: #7d66a6;
	text-align: center;
	padding-top: 67px;
}

.contact-form{
  margin: auto;
  width: 50%;
}

.contact-form-label {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.03em;

	color: #000000;
}

.contact-form-input{
  background: #F8F4FF !important;
  border: 1px solid #ADADAD !important;
}

.contact-form-group{
  max-width: 550px;
}

.contact-form-submit{
  font-size: 16px;
  width: 128px;
  height: 35px;
}

.data-for-contact{
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 43px;
text-align: center;
letter-spacing: 0.1em;
color: #B7A0E1;

}

.light-color{
	color: #DAC6FD;
	display: inline;
}

Footer {
  width: 100%;
  height: 224px;
  background: #4f4b4b;
  font-family: "Poppins", sans-serif;
  
}

.LogoInmobiliaria {
  color: #b7a0e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 45px;
  padding-top: 25px;
  top: 4908px;
  font-family: "Ropa Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 110.7%;
  letter-spacing: 0.115em;
}

.DatosdeContacto {
  font-family: "Poppins";
  color: #b7a0e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 4950px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  padding-left: 45px;
  letter-spacing: 0.8px;
}

.Disclaimer {
  font-family: "Poppins";
  color: #f1eafe;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 4897px;
  padding-left: 45px;
  padding-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 12px;
  letter-spacing: 0.115em;
}

.Medio {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.21em;
  color: #f1eafe;
  padding-top: 24px;
}

.Medio-links li a {
  color: #b7a0e1;
}

.Follow {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #b7a0e1;
  padding-top: 55px;
}

.RedesSociales {
  margin-left: 15px;
  width: 140px;
  height: 30px;
}

.LineaDivisoria {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #f1eafe;
}

.Copyright {
  margin-left: 45px;
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 110.7%;

  letter-spacing: 0.115em;

  color: #f1eafe;
}
