* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", "Ropa Sans", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  align-items: center;
  background-color: none;
  padding-left: 71px;
}

.logo {
  width: 204px;
  height: 33px;
}

.logo-decoration {
  text-decoration: none;
}

.text-logo {
  font-family: "Ropa Sans";
  color: #6a578d;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.115em;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding-right: 5%;
  margin: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 110.7%;
  letter-spacing: 0.035em;
  color: #6a578d;
  text-decoration: none;
}

.tittle-for-house {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 41px;
  color: #6a578d;
  padding-top: 15px;
}

.especification-for-house {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #7d66a6;
  display: inline;
  padding-top: 5px;
}

.price-for-house {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #e73f9a;
  padding-top: 10px;
}

.hero-image {
  width: 100%;
  height: 90%;
}

.carrousel-images {
  width: 100%;
  height: 175px;
  padding-top: 20px;
}

.basic-info {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #7d66a6;
  text-align: center;
  background-color: rgba(218, 198, 253, 0.5);
}

.data {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #000000;
  margin: auto;
  width: 50%;
  padding-top: 40px;
}

.sup-and-med {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #7d66a6;
  padding-top: 68px;
  text-align: center;
}

.sup-numbers {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000000;
  padding-top: 20px;
}

.description {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  padding-top: 68px;
  text-align: center;
  color: #7d66a6;
}

.descrip-text {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 20px;
  color: #000000;
  margin: auto;
  width: 90% !important;
}

.serv-and-ad {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  padding-top: 68px;
  color: #7d66a6;
}

.alocation {
  padding-top: 15%;
}

.location {
  background-color: rgba(218, 198, 253, 0.5);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #7d66a6;
  text-align: center;
}

.map {
  width: 1824px;
  padding-top: 60px;
  padding-left: 60px;
}

.tittle-contact {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  color: #7d66a6;
  text-align: center;
  padding-top: 67px;
}

.contact-form {
  margin: auto;
  width: 50%;
}

.contact-form-label {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #000000;
}

.contact-form-input {
  background: #f8f4ff !important;
  border: 1px solid #adadad !important;
}

.contact-form-group {
  max-width: 550px;
}

.contact-form-submit {
  font-size: 16px;
  width: 128px;
  height: 35px;
  margin-bottom: 30px;
}

.data-for-contact {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #b7a0e1;
}

.light-color {
  color: #dac6fd;
  display: inline;
}

Footer {
  width: 100%;
  height: 224px;
  background: #4f4b4b;
  font-family: "Poppins", sans-serif;
}

.logo-inmb {
  color: #b7a0e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 45px;
  padding-top: 25px;
  top: 4908px;
  font-family: "Ropa Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 110.7%;
  letter-spacing: 0.115em;
}

.contact-data {
  font-family: "Poppins";
  color: #b7a0e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 4950px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  padding-left: 45px;
  letter-spacing: 0.8px;
}

.disclaimer {
  font-family: "Poppins";
  color: #f1eafe;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 4897px;
  padding-left: 45px;
  padding-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 12px;
  letter-spacing: 0.115em;
}

.middle-selector {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.21em;
  color: #f1eafe;
  padding-top: 24px;
}

.middle-links li a {
  color: #b7a0e1;
}

.follow-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #b7a0e1;
  padding-top: 55px;
}

.socials-net {
  margin-left: 15px;
  width: 140px;
  height: 30px;
}

.div-line {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #f1eafe;
}

.copyright {
  margin-left: 45px;
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 110.7%;
  letter-spacing: 0.115em;
  color: #f1eafe;
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  nav {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    width: 169px;
    height: 20px;
  }
  .Texto-Logo {
    font-size: 25px;
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.2em;
  }
  .nav-links li a {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 18px;
    text-align: center;
  }
  .tittle-for-house {
    font-size: 22px;
    line-height: 114.2%;
    text-align: center;
  }

  .especification-for-house {
    padding-top: 20px;
    font-size: 15px;
    line-height: 114.2%;
    text-align: center;
  }

  .price-for-house {
    font-size: 25px;
    line-height: 114.2%;
    text-align: center;
    padding-bottom: 20px;
  }

  .hero-image {
    float: left;
    width:  400px;
    height: 400px;
    object-fit: cover;
    margin-left: 5px;
    align-items: center;
    align-content: center;
    padding: 0%;
    margin-left: 42px;
    position: relative;
  }
  
  .basic-info {
    margin-top: 90px;
    font-size: 18px;
    line-height: 114.2%;
  }

  .data {
    padding-top: 59px;
    font-size: 16px;
    line-height: 140.2%;
    letter-spacing: 0.03em;
  }

  .sup-and-med {
    font-size: 16px;
    line-height: 114.2%;
  }

  .sup-numbers {
    line-height: 120.2%;
    letter-spacing: 0.03em;
    font-size: 16px;
  }

  .description {
    font-size: 18px;
    line-height: 114.2%;
  }

  .descrip-text {
    font-size: 16px;
    line-height: 120.2%;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .serv-and-ad {
    font-size: 18px;
    line-height: 114.2%;
  }

  .alocation {
    padding-top: 100px;
  }

  .location {
    font-size: 18px;
    line-height: 114.2%;
  }

  .map {
    width: 90%;
    height: 493px;
    padding-left: 10;
  }

  .tittle-contact {
    font-size: 18px;
    line-height: 114.2%;
  }

  .contact-form {
    width: 50%;
    padding-top: 20px;
  }

  .data-for-contact {
    font-size: 16px;
    line-height: 160.7%;
    text-align: center;
    letter-spacing: 0.1em;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  Footer {
    height: fit-content;
    width: 100%;
  }

  .logo-inmb {
    padding-left: 5px;
    padding-top: 5px;
  }

  .contact-data {
    font-size: 7px;
    line-height: 114.2%;
    padding-left: 5px;
    padding-top: 5px;
  }

  .follow-text {
    font-size: 9px;
    line-height: 114.2%;
    padding-left: 5px;
    text-align: center;
  }

  .disclaimer {
    padding-left: 5px;
    padding-top: 10px;
    font-size: 10px;
    line-height: 110.7%;
    padding-left: 2.5px;
  }

  .middle-selector {
    font-size: 11px;
    line-height: 98.5%;
    padding-top: 14px;
    letter-spacing: 0.2em;
  }

  .div-line {
    width: 90%;
  }

  .copyright {
    margin-left: 5px;
    font-size: 7px;
    line-height: 110.7%;
    letter-spacing: 0.115em;
    padding-bottom: 5px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  nav {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    width: 118px;
    height: 20px;
  }
  .Texto-Logo {
    font-size: 22px;
    text-align: center;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1em;
  }
  .nav-links li a {
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  .tittle-for-house {
    font-size: 16px;
    line-height: 114.2%;
    text-align: center;
  }

  .especification-for-house {
    padding-top: 20px;
    font-size: 11px;
    line-height: 114.2%;
    text-align: center;
  }

  .price-for-house {
    font-size: 20px;
    line-height: 114.2%;
    margin-left: 15px;
    text-align: center;
    padding-bottom: 20px;
  }

  .hero-image {
    width: 90%;
    height: 90%;
    margin-left: 22px;
  }
  .carrousel-images {
    height: 80px;
    width: auto;
  }

  .basic-info {
    margin-top: 15%;
    font-size: 14px;
    line-height: 114.2%;
  }

  .data {
    padding-top: 20px;
    font-size: 12px;
    line-height: 130.2%;
    letter-spacing: 0.03em;
  }

  .sup-and-med {
    font-size: 14px;
    line-height: 114.2%;
  }

  .sup-numbers {
    line-height: 120.2%;
    letter-spacing: 0.03em;
    font-size: 12px;
  }

  .description {
    font-size: 14px;
    line-height: 114.2%;
  }

  .descrip-text {
    font-size: 11px;
    line-height: 120.2%;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .serv-and-ad {
    font-size: 14px;
    line-height: 114.2%;
  }

  .alocation {
    padding-top: 35px;
  }

  .location {
    font-size: 14px;
    line-height: 114.2%;
  }

  .map {
    width: 90%;
    height: 260px;
    padding-left: 25px;
  }

  .tittle-contact {
    font-size: 20px;
    line-height: 114.2%;
  }

  .contact-form {
    width: 80%;
    padding-top: 20px;
  }

  .data-for-contact {
    font-size: 16px;
    line-height: 160.7%;
    text-align: center;
    letter-spacing: 0.1em;
    padding-bottom: 25px;
  }

  Footer {
    height: fit-content;
    width: 100%;
  }

  .logo-inmb {
    padding-left: 5px;
    padding-top: 5px;
  }

  .contact-data {
    font-size: 13px;
    line-height: 114.2%;
    padding-left: 5px;
    padding-top: 5px;
  }

  .follow-text {
    font-size: 17px;
    line-height: 114.2%;
    padding-left: 5px;
    text-align: center;
  }

  .disclaimer {
    padding-left: 5px;
    padding-top: 10px;
    font-size: 10px;
    line-height: 110.7%;
    padding-left: 2.5px;
  }

  .middle-selector {
    font-size: 14px;
    line-height: 135.5%;
    padding-top: 14px;
    letter-spacing: 0.3em;
  }

  .div-line {
    width: 90%;
  }

  .copyright {
    margin-left: 5px;
    font-size: 7px;
    line-height: 110.7%;
    letter-spacing: 0.115em;
    padding-bottom: 5px;
    text-align: center;
  }
}
